<div class="row">
    <div class="col-12 col-md-4">
        <img src="{{ product.imageUrl }}" class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col">
        <h1>{{ product.name }}</h1>
        <p>{{ product.unitPrice | currency:'EUR':'symbol':'1.2-2':'de-DE' }}</p>
        <a href="#" class="btn btn-primary">
            In den Warenkorb
        </a>

        <hr>
        <h2>Beschreibung</h2>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="btn btn-secondary">Zurück</a>
    </div>
</div>

