@if (errorMessage) {
    <div class="alert alert-warning" role="alert">
        {{ errorMessage }}
    </div>
} @else if (product) {
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="{{ product.imageUrl }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col">
            <h1>{{ product.name }}</h1>

            @if (product.salePrice > 0) {
                <p class="text-danger mb-0">{{ product.salePrice | currency:'EUR' }}</p>
                <p><s>{{ product.unitPrice | currency:'EUR' }}</s></p>
            } @else {
                <p>{{ product.unitPrice | currency:'EUR' }}</p>
            }
            
            <button role="button" class="btn btn-primary" (click)="addToCart()">
                In den Warenkorb
            </button>

            <hr>
            <h2>Beschreibung</h2>
            <p>{{ product.description }}</p>

            <a routerLink="/category/{{ categoryId }}" class="btn btn-secondary">Zurück</a>
        </div>
    </div>
} @else {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
