<div class="row align-items-center">
    <div class="col-auto">
        <span class="me-2 d-inline-block">
            {{ totalPrice | currency: 'EUR' }}
        </span>
        <a routerLink="/cart-details" class="btn btn-primary position-relative">
            <i class="bi bi-cart"></i>
            <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">
                {{ totalQuantity }}
                <span class="visually-hidden">Produkte im Warenkorb</span>
            </span>
        </a>
    </div>
</div>
