<h1 class="border-bottom pb-3 mb-3">Kasse</h1>

<form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
    <div formGroupName="customer">
        <h2 class="h5">Kundendaten</h2>

        <div class="form-floating mb-3">
            <input formControlName="firstName" type="text" class="form-control" id="first-name" placeholder="">
            <label for="first-name">Vorname</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="lastName" type="text" class="form-control" id="last-name" placeholder="">
            <label for="last-name">Nachname</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="">
            <label for="email">E-Mail</label>
        </div>
    </div>

    <div formGroupName="billingAddress">
        <h2 class="h5">Rechnungsadresse</h2>

        <div class="form-floating mb-3">
            <input formControlName="street" type="text" class="form-control" id="billing-street" placeholder="">
            <label for="billing-street">Straße und Hausnummer</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="zipCode" type="text" class="form-control" id="billing-plz" placeholder="">
            <label for="billing-plz">Postleitzahl</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="city" type="text" class="form-control" id="billing-city" placeholder="">
            <label for="billing-city">Stadt</label>
        </div>

        <div class="form-floating mb-3">
            <select formControlName="country" class="form-select" id="billing-country">
                <option value="DEU">Deutschland</option>
                <option value="AUT">Östereich</option>
                <option value="CHE">Schweiz</option>
            </select>
            <label for="billing-country">Land</label>
        </div>
    </div>

    <div formGroupName="shippingAddress">
        <h2 class="h5">Lieferadresse</h2>

        <div class="form-floating mb-3">
            <input formControlName="street" type="text" class="form-control" id="shipping-street" placeholder="">
            <label for="shipping-street">Straße und Hausnummer</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="zipCode" type="text" class="form-control" id="shipping-plz" placeholder="">
            <label for="shipping-plz">Postleitzahl</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="city" type="text" class="form-control" id="shipping-city" placeholder="">
            <label for="shipping-city">Stadt</label>
        </div>

        <div class="form-floating mb-3">
            <select formControlName="country" class="form-select" id="shipping-country">
                <option value="DEU">Deutschland</option>
                <option value="AUT">Östereich</option>
                <option value="CHE">Schweiz</option>
            </select>
            <label for="shipping-country">Land</label>
        </div>
    </div>

    <div formGroupName="creditCard">
        <h2 class="h5">Kreditkarte</h2>

        <div class="form-floating mb-3">
            <select formControlName="cardType" class="form-select" id="card-type">
                <option value="Visa">Visa</option>
                <option value="Master">Master</option>
            </select>
            <label for="card-type">Kartentyp</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="nameOnCard" type="text" class="form-control" id="cc-name" placeholder="">
            <label for="cc-name">Kartenname</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="cardNumber" type="text" class="form-control" id="cc-number" placeholder="">
            <label for="cc-number">Kartennummer</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="securityCode" type="text" class="form-control" id="security-code" placeholder="">
            <label for="security-code">Sicherheitscode (3-stellig)</label>
        </div>

        <div class="form-floating mb-3">
            <select formControlName="expirationMonth" class="form-select" id="expiration-month">
                @for (month of creditCardMonths; track $index) {
                    <option value="{{ month }}">{{ month }}</option>
                }
            </select>
            <label for="expiration-month">Ablaufdatum Monat</label>
        </div>

        <div class="form-floating mb-3">
            <select formControlName="expirationYear" class="form-select" id="expiration-year" (change)="handleMonthsAndYears()">
                @for (year of creditCardYears; track $index) {
                    <option value="{{ year }}">{{ year }}</option>
                }
            </select>
            <label for="expiration-month">Ablaufdatum Jahr</label>
        </div>
    </div>
    
    <div class="row justify-content-end">
        <div class="col-12 col-sm-6">
            <dl class="row">
                <dt class="col-6">
                    Versand:
                </dt>
                <dd class="col-6">
                    kostenlos
                </dd>

                <dt class="col-6">
                    Gesamtanzahl:
                </dt>
                <dd class="col-6">
                    {{ totalQuantity }}
                </dd>
                
                <dt class="col-6">
                    Gesamtsumme:
                </dt>
                <dd class="col-6">
                    {{ totalPrice | currency: 'EUR'}}
                </dd>
            </dl>
        </div>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-success btn-lg">Absenden</button>
    </div>
</form>