<div class="row">
    <!-- loop over products -->
    @for (tempProduct of products; track tempProduct.id) {
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3">
                <a routerLink="/products/{{ tempProduct.id }}">
                    <img src="{{ tempProduct.imageUrl }}" class="card-img-top" alt="{{ tempProduct.name }}">
                </a>
                <div class="card-body">
                    <h2 class="h5 card-title">{{ tempProduct.name }}</h2>
                    <div class="card-text">
                        @if (tempProduct.salePrice > 0) {
                            <p class="text-danger mb-0">{{ tempProduct.salePrice | currency:'EUR' }}</p>
                            <p><s>{{ tempProduct.unitPrice | currency:'EUR' }}</s></p>
                        } @else {
                            <p>{{ tempProduct.unitPrice | currency:'EUR' }}</p>
                        }
                    </div>
                    <button role="button" class="btn btn-primary" (click)="addToCart(tempProduct)">
                        In den Warenkorb
                    </button>
                </div>
            </div>
        </div>
    }

    <!-- if products empty then display a message -->
    @empty {
        <div class="col">
            <div class="alert alert-warning" role="alert">
                Es konnten keine Produkte gefunden werden.
            </div>
        </div>
    }
</div>

<!-- pagination -->
<div class="row justify-content-center mt-3">
    <div class="col-auto">
        <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theTotalElements"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="listProducts()">
        </ngb-pagination>
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Items per page" #myPageSelect (change)="updatePageSize(myPageSelect.value)">
            <option value="4" selected>4</option>
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="16">16</option>
        </select>
    </div>
</div>
