<div class="container-fluid">
    <div class="row">
        <!-- loop over products -->
        @for (tempProduct of products; track tempProduct.id) {
            <div class="col-6 col-md-4 col-xl-3">
                <div class="product-box">
                    <a routerLink="/products/{{ tempProduct.id }}">
                        <img src="{{ tempProduct.imageUrl }}" class="img-fluid" alt="{{ tempProduct.name }}">
                    </a>
                    <h2>{{ tempProduct.name }}</h2>
                    <p>{{ tempProduct.unitPrice | currency:'EUR':'symbol':'1.2-2':'de-DE' }}</p>
                    <a href="#" class="btn btn-primary">
                        In den Warenkorb
                    </a>
                </div>
            </div>
        }

        <!-- if products empty then display a message -->
        @empty {
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    Es konnten keine Produkte gefunden werden.
                </div>
            </div>
        }
    </div>
</div>